<!doctype HTML>
<html>
  <head>
    <title>Colors Test</title>
    <link rel="stylesheet" type="text/css" href="public/css/style.css">
  </head>
  
  <body>
    <h1> Guess The Color </h1>
    <form method = "post">
      <label for "name" > Name </label>
      <input name = "name" type = "text">
      <br>
      <div id="a1">1</div>
       <div id="a2">2</div>
        <div id="a3">3</div>
      <br>
          <div id="a4">4</div>
            <div id="a5">5</div>
              <div id="a6">6</div>
      <br>
                <div id="a7">7</div>
                  <div id="a8">8</div>
                    <div id="a9">9</div>
      <br>
      <label for "red"> Which color is the purest red?  </label>
      <input name = "red" type = "number" min="1" max="9">
      <br>
      <div id="b1">1</div>
       <div id="b2">2</div>
        <div id="b3">3</div>
      <br>
          <div id="b4">4</div>
            <div id="b5">5</div>
              <div id="b6">6</div>
      <br>
                <div id="b7">7</div>
                  <div id="b8">8</div>
                    <div id="b9">9</div>
      <br>
      <label for "blue"> Which color is the purest blue? </label>
      <input name = "blue" type = "number" min="1" max="9">
      <br>
      <div id="c1">1</div>
       <div id="c2">2</div>
        <div id="c3">3</div>
      <br>
          <div id="c4">4</div>
            <div id="c5">5</div>
              <div id="c6">6</div>
      <br>
                <div id="c7">7</div>
                  <div id="c8">8</div>
                    <div id="c9">9</div>
      <br>
      <label for "green"> Which color is the purest green? </label>
      <input name = "green" type = "number" min="1" max="9">
      <br>
      <input type = "Submit" value = "Submit">
       
    </form>
    </body>
  
</html>