<!doctype HTML>
<html>
  <head>
    <title>Guess The Color</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  
  <body>
    <h1> Guess The Color </h1>
    <form method = "post">
      <label for "name" > Name </label>
      <input name = "name" type = "text">
      <br>
      <div class = "wrapper">
      <div id="b1">1</div>
       <div id="b2">2</div>
        <div id="b3">3</div>
      <br>
          <div id="b4">4</div>
            <div id="b5">5</div>
              <div id="b6">6</div>
      <br>
                <div id="b7">7</div>
                  <div id="b8">8</div>
                    <div id="b9">9</div>
      <br> <br> 
      
      <label for "blue"> Which color is the purest blue?  </label>
      <input name = "blue" type = "number" min="1" max="9">
      </div>
      <br> <br>
      <div class= "wrapper">
      <div id="e1">1</div>
       <div id="e2">2</div>
        <div id="e3">3</div>
      <br>
          <div id="e4">4</div>
            <div id="e5">5</div>
              <div id="e6">6</div>
      <br>
                <div id="e7">7</div>
                  <div id="e8">8</div>
                    <div id="e9">9</div>
      <br>
      
      <label for "orange"> Which color is the purest orange? </label>
      <input name = "orange" type = "number" min="1" max="9">
        </div> <br>
      <br>
      <div class= "wrapper">
      <div id="d1">1</div>
       <div id="d2">2</div>
        <div id="d3">3</div>
      <br>
          <div id="d4">4</div>
            <div id="d5">5</div>
              <div id="d6">6</div>
      <br>
                <div id="d7">7</div>
                  <div id="d8">8</div>
                    <div id="d9">9</div>
      <br>
      
      <label for "purple"> Which color is the purest purple? </label>
      <input name = "purple" type = "number" min="1" max="9">
      </div>
      <br> <br>
      <div class= "wrapper">
      <div id="f1">1</div>
       <div id="f2">2</div>
        <div id="f3">3</div>
      <br>
          <div id="f4">4</div>
            <div id="f5">5</div>
              <div id="f6">6</div>
      <br>
                <div id="f7">7</div>
                  <div id="f8">8</div>
                    <div id="f9">9</div>
      <br>
      <label for "pink"> Which color is the purest pink? </label>
       <input name = "pink" type = "number" min="1" max="9">
        </div>
      <br> <br>
      <div class= "wrapper">
      <div id="c1">1</div>
       <div id="c2">2</div>
        <div id="c3">3</div>
      <br>
          <div id="c4">4</div>
            <div id="c5">5</div>
              <div id="c6">6</div>
      <br>
                <div id="c7">7</div>
                  <div id="c8">8</div>
                    <div id="c9">9</div>
      <br>
      <label for "green"> Which color is the purest green? </label>
      <input name = "green" type = "number" min="1" max="9">
        </div>
      <br> <br>
      <div class= "wrapper">
      <div id="a1">1</div>
       <div id="a2">2</div>
        <div id="a3">3</div>
      <br>
          <div id="a4">4</div>
            <div id="a5">5</div>
              <div id="a6">6</div>
      <br>
                <div id="a7">7</div>
                  <div id="a8">8</div>
                    <div id="a9">9</div>
      <br>
      
      <label for "red"> Which color is the purest red? </label>
      <input name = "red" type = "number" min="1" max="9">
      </div>
      <br>
      <input type = "Submit" value = "Submit">
       
    </form>
    </body>
  
</html>